{% extends 'nucleo/base.html' %}
{% block title %}Primero A{% endblock %}

{% block background %}{% load static %}{% static 'nucleo/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Leyendas Primero A</h1>
{% endblock %}
{%block content%}
<div style="text-align:center;">
    <a href="https://drive.google.com/file/d/1SkXlwQe1_Es3-uOzNzidS20MNduotewe/view?usp=sharing">El dorado</a>
</div>
<div style="text-align:center;">
    <a href="https://anchor.fm/dulce-gabriela-arroyo-avila/episodes/Informatica-e18fbgg/a-a6oklgohttps://anchor.fm/dulce-gabriela-arroyo-avila/episodes/Informatica-e18fbgg/a-a6oklgo">Aqui conmigo</a>
</div>
<div style="text-align:center;">
    <a href="https://drive.google.com/file/d/1q1jOzNKPpeok3kmTVQIR9obdJzfTxY6k/view?usp=sharing">El jinete sin cabeza</a>
</div>
<div style="text-align:center;">
    <a href="https://drive.google.com/file/d/1HjZBZ8PcGoiNBJ1Jt_26HLSZrHrt9M6K/view?usp=sharing">El casino del diablo</a>
</div>
<div style="text-align:center;">
    <a href="https://drive.google.com/file/d/1CCjF91Lv1Rjo8JShAFl3R86KfowmX9JQ/view?usp=sharing">La llorona</a>
</div>
<div style="text-align:center;">
    <a href="https://drive.google.com/file/d/1uJ3WBqNUNYZek5Jy0zY6YTGWW-rI3Jgh/view?usp=sharing">El callejon del beso</a>
</div>
<div style="text-align:center;">
    <a href="https://anchor.fm/orozco-nuufffdez-jetzabel/episodes/Leyenda-La-Planchada--contada-por-Jetzabel-Orozco--informtica-e197f7e/a-a6opq2h">La planchada</a>
</div>
<div style="text-align:center;">
    <a href="https://drive.google.com/file/d/1S4XquLK2yJd8PfrqpLE9T5FxZ8wv1jfo/view?usp=sharing">La llorona</a>
</div>
<div style="text-align:center;">
    <a href="https://drive.google.com/file/d/1VRJwvOHyOH8Y-eCAsVX7sbdbRFE6jiaG/view?usp=sharing">La mafia yakuza</a>
</div>
{%endblock%}