{% extends 'nucleo/base.html' %}
{% block title %}Primero A{% endblock %}

{% block background %}{% load static %}{% static 'nucleo/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Leyendas Primero A</h1>
{% endblock %}
{%block content%}
<div style="text-align:center;">
    <iframe src="https://anchor.fm/isis-jimena-pin-villagmez/embed/episodes/Leyenda-del-la-monja-del-convento-de-la-concepcin-elm3l8/a-a57pm4" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
        <iframe src="https://anchor.fm/diego-chavez-ferreira/embed/episodes/Callejn-del-diablo-eln4vt/a-a3mda0s" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
    <iframe src="https://anchor.fm/carlos-raso/embed/episodes/Pod-cast-de-El-rbol-del-vampiro-ello49/a-a3m02at" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
    <iframe src="https://anchor.fm/miguel-aldahir-salazar-rico/embed/episodes/La-mano-negra-en-el-Convento-de-San-Agustn-elnn0m/a-a3meiel" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
    <iframe src="https://anchor.fm/juan-pablo-herrera/embed/episodes/La-leyenda-de-la-mano-peluda-elm02d/a-a3m0jrm" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
    <iframe src="https://anchor.fm/maria-fernanda-ramirez-ce/embed/episodes/La-ventana-del-muerto-elnd5s/a-a3mclhc" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
{%endblock%}