{% extends 'nucleo/base.html' %}
{% block title %}Primero B{% endblock %}

{% block background %}{% load static %}{% static 'nucleo/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Leyendas Primero B</h1>
{% endblock %}
{%block content%}
<div style="text-align:center;">
    <iframe src="https://anchor.fm/jtdjdghj/embed/episodes/La-Casa-de-los-Tubos-1-elnmot/a-a3mfm3f" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
    <iframe src="https://anchor.fm/karen-ng1/embed/episodes/Leyenda-elnivc/a-a3mesif" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
    <iframe src="https://anchor.fm/alexander-garcia-carranza2/embed/episodes/La-Llorona-1B-eln8lg/a-a3m8oln" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
    <iframe src="https://anchor.fm/deivnabin/embed/episodes/LA-VENTANA-DEL-MUERTO-elk00r/a-a3ljciq" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
    <iframe src="https://anchor.fm/said-hernndez-estrada/embed/episodes/Leyenda-La-Pila-del-angel-elnid9/a-a3mem69" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
{%endblock%}