{% extends 'nucleo/base.html' %}
{% block title %}Tercero A{% endblock %}

{% block background %}{% load static %}{% static 'nucleo/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Leyendas Tercero A</h1>
{%endblock%}
{%block content%}
<div style="text-align:center;">
    <iframe src="https://anchor.fm/jasonesk-7/embed/episodes/El-ahorcado-de-Mexiamora-elatfk/a-a5g0os" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
    <iframe src="https://anchor.fm/diana-celeste-calderon-garcia/embed/episodes/PODCAST-EL-TESORO-DE-LA-CATEDRAL-DE-MORELIA-elkelq/a-a3lmrob" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
    <iframe src="https://anchor.fm/jennifer-ramirez696/embed/episodes/Noche-de-muertos-en-Michoacn-elma0a/a-a3m4ki6" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
    <iframe src="https://anchor.fm/sarahi-ramos-tello/embed/episodes/La-llorona-elgf4k" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
    <iframe src="https://anchor.fm/dylanlecruk/embed/episodes/La-leyenda-de-la-presa-de-la-olla-ellrag/a-a3m4buu" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
    <iframe src="https://anchor.fm/shavi-tv/embed/episodes/CALLEJON-DEL-MUERTO-ellsvn/a-a3m175u" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
    <iframe src="https://anchor.fm/angeles-reyes4/embed/episodes/El-sacristn-de-la-catedral-de-Morelia-elluv0/a-a58j3i" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
{%endblock%}