{% extends 'nucleo/base.html' %}
{% block title %}Tercero B{% endblock %}

{% block background %}{% load static %}{% static 'nucleo/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Leyendas Tercero B</h1>
{%endblock%}
{%block content%}
<div style="text-align:center;">
<iframe src="https://anchor.fm/paulina-sophia-tellez-peres/embed/episodes/Callejn-del-muerto-elldch/a-a3ludq0" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
<iframe src="https://anchor.fm/yunuen-judith/embed/episodes/La-mujer-herrada-ellmqg/a-a3lvfrt" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
<iframe src="https://anchor.fm/marlene-del-carmen-melchor-garcia/embed/episodes/PODCAST-LA-LLORONA-eliort/a-a1q08g" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
<iframe src="https://anchor.fm/santiago-alejandro-hernandez-vasquez/embed/episodes/Leyenda-del-callejn-del-muerto-elm0t2/a-a3m25r4" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
<iframe src="https://anchor.fm/luisa-martinez9/embed/episodes/Cita-en-la-catedral-elni9l/a-a3mdlef" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
<iframe src="https://anchor.fm/ximena-xd/embed/episodes/Captulo-1-elmqti/a-a3m7pe0" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
<div style="text-align:center;">
<iframe src="https://anchor.fm/andres-yepez-lozano/embed/episodes/Promesa-de-volcanes-elngtv/a-a3meblt" height="102px" width="60%" frameborder="0" scrolling="no"></iframe>
</div>
{%endblock%}